#nav-logo {
    width: 200px;
}

body {
    padding-top: 70px;
    overflow-x: hidden;
}

.good {
    color: green;
}

.bad {
    color: red;
}

.prediction-list{
    
}
/* code for navbar */

.navbar-custom {
    background-color: #5E8A2E;
}

.navbar-custom a {
    text-decoration: none;
    color: white;
}

.navbar-custom li {
    list-style-type: none;
    margin-right: 10px;
}

.navbar-custom .active {
    list-style-type: none;
    text-decoration: underline;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url(../img/menu-icon-inactive.png);
    height: 35px;
    width: 35px;
}

.navbar-custom .navbar-toggler-icon:pressed {
    background-image: url(../img/menu-icon-active.png);
    height: 35px;
    width: 35px;
}


/*code for index.html */

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    border: black;
    border-radius: 20px;
    background: #5E8A2E;
    padding: 15px;
    width: 520px;
    height: 70px;
}

.btn {
    background-color: #5E8A2E;
    border-radius: 90px;
    border: 3px solid #CEEC17;
}

.progress-bar {
    background-color: #CEEC17;
    border-radius: 60px;
}

#progress-text {
    font-family: 'Montserrat', sans-serif;
    color: #5E8A2E;
    margin-top: 6px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 3px solid #CEEC17;
    background-color: #5E8A2E;
    display: inline-block;
    border-radius: 60px;
    padding: 6px 12px;
    cursor: pointer;
}

#upload-pic {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.predictbutton {
    font-family: 'Montserrat', sans-serif;
}


/* Code for about.html */

.main-title-1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 400;
}

.banner-area {
    color: black;
    height: 100vh;
    min-height: 500px;
    background-image: url(../img/about-banner-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-sub-area {
    min-height: 500px;
    height: 100vh;
    padding-top: calc(30vh + 110px);
    background: rgba(0, 0, 0, 0.3);
}

.about-text-area {
    padding-top: 10px;
    min-height: 100vh;
    font-size: 14px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

.about-image {
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 576px) {
    .about-text-area {
        padding: 20px;
    }
    .about-image {
        margin-top: 30px;
    }
}