#nav-logo {
    width: 200px;
}

body {
    padding-top: 70px;
    overflow-x: hidden;
}


/* Modify the backgorund color */

.navbar-custom {
    background-color: #5E8A2E;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    border: black;
    border-radius: 20px;
    background: #5E8A2E;
    padding: 15px;
    width: 520px;
    height: 70px;
}

.btn {
    background-color: #5E8A2E;
    border-radius: 90px;
    border: 3px solid #CEEC17;
}

.progress-bar {
    background-color: #CEEC17;
    border-radius: 60px;
}

#progress-text {
    font-family: 'Montserrat', sans-serif;
    color: #5E8A2E;
    margin-top: 6px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 3px solid #CEEC17;
    background-color: #5E8A2E;
    display: inline-block;
    border-radius: 60px;
    padding: 6px 12px;
    cursor: pointer;
}

#upload-pic {
    font-family: 'Montserrat', sans-serif;
    color: white;
}


/* Code for about.html */

.main-title-1 {
    font-size: 30px;
    color: #5E8A2E;
}

.banner-area {
    font-family: "Playfair Display", serif;
    color: white;
    height: 100vh;
    min-height: 500px;
    padding-top: calc(30vh + 75px);
    background-image: url(../img/about-banner-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text-area {
    min-height: 100vh;
    font-size: 14px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

.about-image {
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 576px) {
    .about-text-area {
        padding: 20px;
    }
    .about-image {
        margin-top: 30px;
    }
}